name: askui Test with Studio
on:
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Create config
        run: |
          cat << EOF > config.yaml
              access_token: ${{ secrets.ASKUI_TOKEN }}
              inference_server_url: ${{ secrets.ASKUI_INFERENCE_SERVER_URL }}
              workspace_id: ${{ secrets.ASKUI_WORKSPACE_ID }}
              workflow_endpoint:
                  prefixes:
                      - workspaces/${{ secrets.ASKUI_WORKSPACE_ID }}/test-cases
                  url: ${{ secrets.ASKUI_WORKFLOW_ENDPOINT_URL }}/workspaces/${{ secrets.ASKUI_WORKSPACE_ID }}/objects            
          EOF
      - name: Run tests
        uses: addnab/docker-run-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image: askuigmbh/askui-runner:github
          options: -v ${{ github.workspace }}/config.yaml:/home/askui/config.yaml -v ${{ github.workspace }}/allure-results:/home/askui/test_project/allure-results
          run: echo "Running tests"
      - name: Get Allure history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
      - name: Generate Allure report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20
      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history
